alias cat="bat"
alias cd="z"
alias ls="exa --icons"
alias ll="exa -alh --icons"
alias tree="exa --tree --icons"
alias upgrade="~/dotfiles/update.sh"
alias fetch="fastfetch"
alias fm="yazi"
alias pl="docker pull"
alias cpl="docker compose pull"
alias dps="docker compose up -d"
alias dpd="docker compose down"
alias vpnon="sudo wg-quick up wireguard && sleep 3 && sudo systemctl start he-ipv6.service"
alias vpnoff="sudo systemctl stop he-ipv6.service && sleep 3 && sudo wg-quick down wireguard"
alias buffonpc="ssh pedrobuffon@10.0.0.2"
alias buffonpi="ssh pedrobuffon@10.0.0.253"

#Github
alias gc="git clone"
