alias cat="bat"
alias cd="z"
alias ls="exa --icons"
alias ll="exa -alh --icons"
alias tree="exa --tree --icons"
alias upgrade="~/dotfiles/update.sh"
alias fetch="fastfetch"
alias fm="~/.local/bin/yazi/yazi"
alias crowdsec="docker exec -t crowdsec cscli"
alias upload="~/Upload-Assistant/code/upload.sh"

#Docker Compose
alias dpl="docker compose pull"
alias dcu="docker compose up -d"
alias dcd="docker compose down"